@{
    ViewBag.Title = "About";
}

<link rel="stylesheet" href="~/Content/about.css" />
<body>
    <header>
        <h1>About Us</h1>
    </header>
    <section class="about-section">
        <h2>Welcome to My Club!</h2>
        <br>
        <p>At My CLub, we are dedicated to helping you achieve your fitness goals. Established in 2024, our gym offers a welcoming community, state-of-the-art equipment, and a variety of classes and personal training options. Whether you're a beginner or a fitness enthusiast, you'll find a supportive environment here.</p>
        <p style="color:grey">Join us at My CLub and be part of a community that inspires and motivates. Let's reach new heights together!</p>
    </section>
</body>