@{
    ViewBag.Title = "Contact";
}

<link rel="stylesheet" href="~/Content/contact.css" />
<main>
    <div class="container">
        <div class="section1">
            <div class="header">
                <h1>Contacts</h1>
            </div>
            <h3>Contact us</h3>
            <div class="info">
                <p>Address:<br /><span> P sherman 42 wallaby way sydney :)</span></p>
            </div>
            <div class="info">
                <p>Phone:<br> <span><a href="tel://1234567890">+20 1234567890</a></span></p>
            </div>
            <div class="info">
                <p>Email:<br><span> <a href=" ">info@example</a></span></p>
            </div>
            <div class="info">
                <p>Website:<br /><span> <a href=" ">gymsite.com</a></span></p>
            </div>
            <br />
        </div>
    </div>
</main>