@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>verification code sent</title>
</head>
<body>
    <div>
        <h2>Verification Code Sent</h2>

        <p>@ViewBag.Message</p>
        <p>Please check your email for the verification code.</p>
        <a href="https://localhost:44399/Account/verify">Enter Verification Code</a>
    </div>
</body>
</html>
