<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on WebMatrix configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="webMatrix" type="System.Web.Configuration.WebMatrixSection, WebMatrix, Version=1.0.0.0, Culture=neutral, PublicKeyToken=8c7cf0e3e9460b0b" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>

	<connectionStrings>
		<!-- SQL Server Connection String for Membership Provider -->
	<add name="MyclubSecurity" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NG5N5M7;initial catalog=MyClub;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<system.web>
		<membership defaultProvider="SqlProvider">
			<providers>
				<add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider, System.Web" connectionStringName="MyclubMembership" applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" />
			</providers>
		</membership>
	</system.web>
</configuration>
